:root {
    --primary-color: #66FCF1;
    --secondary-color: #45A29E;
    --background-color: #0B0C10;
    --second-background-color: #1F2833;
    --lighter-color: #C5C6C7;
}   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--background-color);
    background-color: var(--lighter-color)
}
/*Navbar*/
nav{
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 35px;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

nav h1 {
    text-align: center;
    font-size: 34px;
    color: var(--primary-color);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.75vw;
    color: var(--primary-color);
}

/*header*/
header {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    background-color: var(--second-background-color);
    align-items: center;
    justify-content: flex-end;
    padding: 25px 0px;
}
header img {
    height: 150px;
    width: auto;
    image-resolution: 300dpi;
    box-shadow: 10px 10px 5px var(--background-color);
    border-radius: 5px;
    margin-right: 5%;
}

header div {
    height: fit-content;
    background-color: var(--secondary-color);
    padding: 0px 10px;
    text-align: center;
    margin-top: 20px;
}

header div h1 {
    color: var(--background-color);
    font-size: 46px;
}

/*Main*/
main {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}
.sectiontitle {
    padding-top: 15px;
    font-size: 2em;
    min-width: 15%;
    text-align: right;
}

.sectioncontent {
    line-height: 1.7;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 0 5%;
    margin: 1%;
    border-left: 5px solid var(--secondary-color);
}

.sectioncontent a {
    text-decoration: none;
    font-size: 25px;
    color: var(--background-color);
}
/*About Me*/
section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*My work*/
.workboxlarge {
    min-width: 98%;
    margin: 1%;
    height: 50vh;
    background-image: url('./images/hero-bg.jpg');
    border: 5px solid var(--secondary-color);
}

.workboxsmall {
    margin: 1%;
    min-width: 48%;
    height: 20vh;   
    background-color: black;
    border: 5px solid var(--secondary-color);
    font-size: 0.8vw;
}

.subtitle{
    width: 30%;
    height: 20%;
    background-color: var(--secondary-color);
    z-index: 5;
    position: relative;
    top: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    line-height: 1;
}
.subtitle h1{
    width: 100%;
}

/*Contact*/
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul li a {
    margin: 0 30px;
    font-weight: normal;
}

/*Media queries*/
@media screen and (max-width: 1155px){
    .sectiontitle{
        width:100%;
        text-align: center;
    }
    .sectioncontent{
        border-left: none;
        width: 100%;
        border-top: 5px solid var(--secondary-color);
        padding-top: 10px;
        margin: 10px 5%;
    }
}
@media screen and (max-width: 980px) {
    .workboxsmall {
        width: 100%;
        font-size: 18px;
    }
}